<div class="container h-screen mx-auto p-10 prose">
  <h1 id="title">FTR Coding Test</h1>
  <ng-template #quitTemplate>
    <p>{{instructions}}</p>
  </ng-template>
  <ng-container *ngIf="state !== 'quit' else quitTemplate">
    <p>At a frequency of your choosing, this app will display how many times a particular number is entered.</p>
    <p>Additionally, you will be alerted if a number entered is contained within the first 1000 numbers of the Fibonacci
      sequence.</p>
    <p>You can pause and resume the app at any time.</p>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmitButton()">
      <div class="form-group">
        <p>{{instructions}}</p>
        <div class="relative flex items-center">
          <p *ngIf="isFib"
             class="absolute flex justify-center items-center -left-20 w-16 h-10 bg-green-500 font-semibold text-white">
            FIB</p>
          <input type="number" formControlName="number">
          <button type="submit" class="ml-3 bg-green-500" [disabled]="form.invalid || paused">Submit</button>
          <ng-container *ngIf="state === 'running'">
            <button type="button" class="ml-3 bg-yellow-500" (click)="onPauseButton()">{{paused ?
              'Resume' :
              'Pause'}}</button>
            <button type="button" class="ml-3 bg-red-500" (click)="onQuitButton()">Quit</button>
          </ng-container>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="state === 'running'">
    <hr>
    <div class="flex flex-col">
      <h3>Results:</h3>
      <p>{{output|async}}</p>
    </div>
  </ng-container>
</div>
